html {
    font-family: 'Alata', sans-serif;
    font-size: 15px;
}

.first {
    height: 100vh;
    background-image: url(./images/desktop/image-hero.jpg);
    background-repeat: no-repeat;
}

.logo {
    position: absolute;
    left: 12%;
    top: 10%;
}

nav {
    float: right;
    margin-top: 4%;
    margin-right: 5%;

}

nav a {
    float: left;
}

nav a li {
    list-style-type: none;
    color: white;
    padding: 0 20px;
    text-decoration: none;
}

.box1 {
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    border-style: solid;
    font-weight: 300;
    color: white;
    font-size: 65px;
    position: absolute;
    top: 35%;
    left: 15%;
    padding: 2% 6% 2% 3%;
}

.second {
    height: 100vh;
    background-image: url(./images/desktop/image-interactive.jpg);
    background-repeat: no-repeat;
    background-position: 27%;
}

.box2 {
    float: right;
    margin-right: 1%;
    margin-top: 20%;
    width: 35%;
    background: white;
    padding: 5%;
}

.box2 h1 {
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    color: black;
    font-size: 44px;
}

.box2 p {
    color: hsl(0, 0%, 55%)
}